<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <title>Hangman</title>

    <link rel="stylesheet" href="css/home_style.css" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="js/top-player.js"></script>
    <script src="js/home.js"></script>
</head>

<body>

<div id="container">
    <div id="menu-bar">
        <div style="float:left;"><img src="img/9.jpg" width="150" height="100" /></div>
        Witaj w grze!
    </div>
    <nav id="topnav">

        <ul class="menu">
            <li><a href="#">Strona główna</a></li>
            <li><a th:href="@{/register}">Rejestracja</a></li>
            <li><a href="#">O autorze</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>

    </nav>
    <div id="login-form">
        Pomyślnie zarejestrowano! <a href="/">Zaloguj się!</a>
    </div>
    <div id="top-players">Ranking
        <table id="top-table">
            <colgroup>
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 70%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            <tr>
                <th>Lp</th>
                <th>Nick</th>
                <th>Pkt</th>
            </tr>
        </table>
    </div>
    <div style="clear:both;"></div>
    <div id="bottom-bar">
            Bartłomiej Turkosz<br />
            GitHub: <a href="https://github.com/bartek977" target="_blank">bartek977</a>
    </div>
</div>
</body>
</html>